.idea/
.vscode/
*.log
.docker/
code/venv/
venv/
ENV/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
htmlcov/
.toml
.pytest_cache/
code/db.sqlite3
code/db.sqlite3-journal
code/productionfiles/
productionfiles/
